
header {
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;  
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: 'Fira Code', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: '';
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    padding: 18px 20px;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    cursor: pointer;
    transition: transform 100ms linear;
}

#button:hover {
    transform: scale(1.08);
}

/* AQUI TERMINA O HEADER E COMEÇA A SECTION */

section {
    display: flex;
    padding: 196px 91px;
}

.quadrado {
    display: block;
    background-color: #3A4042;
    box-shadow: 5px 5px 0px #000;
    width: 627px;
    height: 184px;
    top: 238px;
    left: 181px;
}

h1 {
    color: #F25A70;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

p {
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

/* SECTION TERMINADA */

.container {
    display: flex;
    padding: 0 181px;
}

.button1 {
    display: flex;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    text-align: center;
    top: 170px
}