
.main-button {
    color: #FFF;
    font-size: 20px;
    padding: 18px 20px;
    background-color: #d49035;
    box-shadow: 5px 5px 0px #000;
    text-decoration: none;
    cursor: pointer;
    transition: transform 100ms linear;
}

.main-button:hover {
    transform: scale(1.03);
}

