
.section-form{
    background-color: #333;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #7c5e99;
    height: 860px;
}



.campo {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 80px;
}

.campo label {
    color: #FFF;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    display: flex;
    flex-direction: column;
}

.campo input {
    border: 5px solid #000000;
    width: 1360px;
    height: 30px;
}

.campo textarea {
    border: 5px solid #000000;
    width: 1360px;
    height: 300px;
}

.section-form .main-button {
    height: 60px;
    width: 1360px;
    margin-left: 90px;
    margin-top: 40px;
}