
.skills {
    background-color: #F25A70;
    height: 730px;
    padding: 50px 90px;
    border-bottom: 10px solid #F25A70;
}

.thirdtitle {
    font-family: 'Press Start 2P';
    font-size: 30px;
    text-align: center;
}