
.wrapper-carrosel {
    display: flex;
    justify-content: center;
    margin-top: 156px;
}

.carrosel-project.-locaweb {
    display: flex;
    width: 220px;
    height: 140px;
    background-color: #CEB02A;
    border: 5px solid #000000;
    justify-content: center;
    align-items: center;
}

.carrosel-project.-caelum {
    width: 140px;
    height: 140px;
}

.carrosel-project.-getninjas {
    display: flex;
    background-color: #F25A70;
    border: 5px solid #000000;
    width: 170px;
    height: 140px;
    justify-content: center;
    align-items: center;
}

.carrosel-project.-impulso {
    display: flex;
    width: 220px;
    height: 140px;
    background-color: #CEB02A;
    border: 5px solid #000000;
    justify-content: center;
    align-items: center;
}

.carrosel-project.-collabcode {
    display: flex;
    background-color: #F25A70;
    border: 5px solid #000000;
    width: 215px;
    height: 140px;
    justify-content: center;
    align-items: center;
}

.button-carrosel-right {
    display: flex;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px 0px #000000;
    margin-top: 65px;
    margin-left: 20px;
    width: 80px;
    height: 50px;
    justify-content: center;
    align-items: center;
    transition: transform 100ms linear;
}

.button-carrosel-left {
    display: flex;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px 0px #000000;
    margin-top: 65px;
    margin-right: 20px;
    width: 80px;
    height: 50px;
    justify-content: center;
    align-items: center;
    transition: transform 100ms linear;
}

.button-carrosel-right:hover {
    transform: scale(1.08);
}

.button-carrosel-left:hover {
    transform: scale(1.08);
}

